.upload-area {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.file-drop-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.file-drop-area button {
  margin-bottom: 10px; /* Add space between the button and the filename */
}

.file-drop-area span {
  color: #777;
  font-size: 16px;
  text-align: center; /* Center the filename text */
}

button[mat-raised-button] {
  margin-top: 20px; /* Add more space at the top to separate the buttons */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
