<div class="search-wrapper">
  <mat-card class="search-card">
    <div class="search-container">
      <h2>Search Data</h2>
      <mat-form-field appearance="fill">
        <mat-label>Search Data</mat-label>
        <input matInput id="searchQuery" type="number" name="searchQuery" placeholder="Enter Container Id" [(ngModel)]="searchQuery" required />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="search-button" (click)="onSearch()">Search</button>
    </div>
  </mat-card>

  <app-search-results [searchResults]="searchResults"></app-search-results>
</div>
