.center-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 5px 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  margin-top: auto;
  margin-bottom: auto;
}

mat-form-field {
  margin-bottom: 0;
  width: 100%; /* Ensure the form fields take the full width */
}

button {
  align-self: flex-start; /* Align the button to the start (left) of the container */
  margin-top: 10px; /* Ensure there's space between the last input field and the button */
  width: fit-content; /* Make the button fit its content */
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
