<div class="content-container">
  <h2>Add Container Item</h2>

  <form (ngSubmit)="onSubmit()" #containerForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Container ID</mat-label>
      <input matInput
             type="number"
             id="containerId"
             name="containerID"
             [(ngModel)]="newData.containerID"
             required
             (input)="validateInput($event)">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Longitude</mat-label>
      <input matInput
             type="number"
             id="longitude"
             name="longitude"
             [(ngModel)]="newData.longitude"
             required
             (input)="validateInput($event)">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Latitude</mat-label>
      <input matInput
             type="number"
             id="latitude"
             name="latitude"
             [(ngModel)]="newData.latitude"
             required
             (input)="validateInput($event)">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Add</button>
  </form>
</div>
